@charset "UTF-8";
//基准色
$base-font-color: #000;
// 模块背景色
$body-bgcolor:#f2f2f2;
// 边框颜色
$border-color:#ccc;
// 阴影颜色
$show-color:rgba(0, 0, 0, 0.20);
// 禁用字体颜色
$font-disable-color:#eee;
html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

#app {
    height: 100%;
    margin-top: 0;
}

body {
    font-family: PingFangSC-Regular !important;
    text-align: center;
    background-color: $body-bgcolor; // 不加颜色的话，页面加载一瞬间会有白边
    color: $base-font-color;
    &.modal-open {
        position: fixed;
        width: 100%;
    }
    min-width: 320px;
    margin: 0 auto;
    height: 100%;
    -webkit-overflow-scrolling: touch;
    user-select: none; // 不能选择内容
    -webkit-user-select: none;
}

a {
    &:link,
    &:visited {
        color: blue;
        text-decoration: none;
    }
    &:hover,
    &:active {
        text-decoration: none;
    }
}

input {
    border-radius: 5px;
    outline: none;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    -webkit-tap-highlight-color: transparent;
}

img {
    display: block;
    width: 100%;
}

em,
strong,
address {
    font-weight: normal;
    font-style: normal;
}

table {
    width: 100%;
    img {
        width: 100%;
    }
}

// 定位
.fixed {
    position: fixed;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

// 阴影
.box-shadow {
    box-shadow: 0 1px 2px 0 $show-color;
}

// 宽度 
.width-16 {
    width: 16px;
}

.width-40 {
    width: 40px;
}

.width-30 {
    width: 30px;
}

.width-70 {
    width: 70px;
}

// 高度
.height-16 {
    height: 16px;
}

.height-40 {
    height: 40px;
}

.height-30 {
    height: 30px;
}

.height-70 {
    height: 70px;
}


/*字体颜色*/

.font-base {
    color: $base-font-color !important;
}

.font-white {
    color: #fff !important;
}

.font-blue {
    color: #459ae9 !important;
}

.font-green {
    color: #67C36F !important;
}

.font-red {
    color: #f00 !important;
}

.font-orange {
    color: orange !important;
}

.font-grey {
    color: #8d8d8d !important;
}

.font-disable {
    color: $font-disable-color !important;
}

.font-transparent {
    color: transparent;
}

// 背景颜色
.bg-color--white {
    background-color: #fff !important;
}

.bg-color-blue {
    background-color: #459ae9 !important;
}

.bg-color-green {
    background-color: #67C36F !important;
}

.bg-color-red {
    background-color: #f00 !important;
}

.bg-color-orange {
    background-color: orange !important;
}

.bg-color-grey {
    background-color: #DDDDDD !important;
}

// 显示及隐藏
.hide {
    display: none !important;
}

.show {
    display: block !important;
}

// 浮动及清除
.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clear-left {
    clear: left;
}

.clear-right {
    clear: right;
}

.clearboth {
    clear: both;
}

// 对齐方式
.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

// 上边距
.margin-top-0 {
    margin-top: 0px !important;
}

.margin-top-12 {
    margin-top: 12px !important;
}

.margin-top-15 {
    margin-top: 15px !important;
}

.margin-top-20 {
    margin-top: 20px !important;
}

.margin-top-30 {
    margin-top: 30px !important;
}

.margin-top-40 {
    margin-top: 40px !important;
}

.margin-top-60 {
    margin-top: 60px !important;
}

// 下边距
.margin-bottom-0 {
    margin-bottom: 0px !important;
}

.margin-bottom-12 {
    margin-bottom: 12px !important;
}

.margin-bottom-15 {
    margin-bottom: 15px !important;
}

.margin-bottom-20 {
    margin-bottom: 20px !important;
}

.margin-bottom-30 {
    margin-bottom: 30px !important;
}

.margin-bottom-40 {
    margin-bottom: 40px !important;
}

.margin-bottom-60 {
    margin-bottom: 60px !important;
}

// 左边距
.margin-left-0 {
    margin-left: 0px !important;
}

.margin-left-12 {
    margin-left: 12px !important;
}

.margin-left-15 {
    margin-left: 15px !important;
}

.margin-left-20 {
    margin-left: 20px !important;
}

.margin-left-30 {
    margin-left: 30px !important;
}

.margin-left-40 {
    margin-left: 40px !important;
}

.margin-left-60 {
    margin-left: 60px !important;
}

// 右边距
.margin-right-0 {
    margin-right: 0px !important;
}

.margin-right-12 {
    margin-right: 12px !important;
}

.margin-right-15 {
    margin-right: 15px !important;
}

.margin-right-20 {
    margin-right: 20px !important;
}

.margin-right-30 {
    margin-right: 30px !important;
}

.margin-right-40 {
    margin-right: 40px !important;
}

.margin-right-60 {
    margin-right: 60px !important;
}

// 上内边距
.padding-top-0 {
    padding-top: 0px !important;
}

.padding-top-12 {
    padding-top: 12px !important;
}

.padding-top-15 {
    padding-top: 15px !important;
}

.padding-top-20 {
    padding-top: 20px !important;
}

.padding-top-30 {
    padding-top: 30px !important;
}

.padding-top-40 {
    padding-top: 40px !important;
}

.padding-top-60 {
    padding-top: 60px !important;
}

// 下内边距
.padding-bottom-0 {
    padding-bottom: 0px !important;
}

.padding-bottom-12 {
    padding-bottom: 12px !important;
}

.padding-bottom-15 {
    padding-bottom: 15px !important;
}

.padding-bottom-20 {
    padding-bottom: 20px !important;
}

.padding-bottom-30 {
    padding-bottom: 30px !important;
}

.padding-bottom-40 {
    padding-bottom: 40px !important;
}

.padding-bottom-60 {
    padding-bottom: 60px !important;
}

// 左内边距
.padding-left-0 {
    padding-left: 0px !important;
}

.padding-left-12 {
    padding-left: 12px !important;
}

.padding-left-15 {
    padding-left: 15px !important;
}

.padding-left-20 {
    padding-left: 20px !important;
}

.padding-left-30 {
    padding-left: 30px !important;
}

.padding-left-40 {
    padding-left: 40px !important;
}

.padding-left-60 {
    padding-left: 60px !important;
}

// 右内边距
.padding-right-0 {
    padding-right: 0px !important;
}

.padding-right-12 {
    padding-right: 12px !important;
}

.padding-right-15 {
    padding-right: 15px !important;
}

.padding-right-20 {
    padding-right: 20px !important;
}

.padding-right-30 {
    padding-right: 30px !important;
}

.padding-right-40 {
    padding-right: 40px !important;
}

.padding-right-60 {
    padding-right: 60px !important;
}

// 溢出方式
.overflow-hidden {
    overflow: hidden;
}

.overflow-auto {
    overflow: auto;
}